<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{sports.title}"></title>
</head>
<body>

	<form th:action="@{/logout}" method="post">
		<button th:text="#{logout.button}" type="submit"></button>
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</form>

	<h1 th:text="#{sports.title}"></h1>
	
	<a th:if="${userRole == 'ROLE_USER' && hasTickets}" href="/tickets">
		<button th:text="#{sports.viewTickets.button}"></button>
	</a>
	
	<ul>
		<li th:each="sport : ${sports}">
			<a th:href="|/sports/${sport.id}|" th:text="${sport.name}"></a>
		</li>
	</ul>

</body>
</html>