<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/style.css}" />
<title th:text="${sport.name}"></title>
</head>
<body>

	<h1 th:text="${sport.name}"></h1>

	<div th:if="${competitions != null && competitions.isEmpty == false}">	
		<h2 th:text="#{sportDetails.secondaryTitle}"></h2>
	
		<table>
			<thead>
				<tr>
					<th th:text="#{sportDetails.table.schedule}"></th>
					<th th:text="#{sportDetails.table.stage}"></th>
					<th th:text="#{sportDetails.table.disciplines}"></th>
					<th th:text="#{sportDetails.table.placesLeft}"></th>
					<th th:text="#{sportDetails.table.ticketPrice}"></th>
					<th th:if="${userRole == 'ROLE_USER'}" th:text="#{sportDetails.table.ticketsBought}"></th>
				</tr>
			</thead>
			<tbody th:each="competition, iter : ${competitions}">
				<tr>
					<td th:with="df=#{date.format.pattern}" th:text="${#dates.format(competition.startDateTime, df)}"></td>
					<td th:text="${competition.stage.name}"></td>
					<td>
						<ul th:each="discipline : ${competition.disciplines}">
							<li th:text="${discipline.name}"></li>
						</ul>
					</td>
					<td th:text="${competition.remainingSeats}"></td>
					<td th:if="${userRole == 'ROLE_ADMIN' || competition.remainingSeats > 0}" th:text="|€${#numbers.formatDecimal(competition.ticketPrice, 2, 'COMMA', 2, 'POINT')}|"></td>
					<td th:unless="${userRole == 'ROLE_ADMIN' || competition.remainingSeats > 0}"></td>
					<td th:if="${userRole == 'ROLE_USER'}">
						<th:block th:if="${competitionTicketCounts.get(competition.id) == 1}" th:text="|${competitionTicketCounts.get(competition.id)} #{sportDetails.table.ticketBoughtLabel}|"></th:block>
						<th:block th:if="${competitionTicketCounts.get(competition.id) > 1}" th:text="|${competitionTicketCounts.get(competition.id)} #{sportDetails.table.ticketsBoughtLabel}|"></th:block>
						<br/>
						<a th:href="|/competitions/${competition.id}/purchase|">
							<button th:text="#{sportDetails.table.purchaseTicketsButton}"></button>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:unless="${competitions != null && competitions.isEmpty == false}">
		<p th:text="#{sportDetails.noCompetitions}"></p>
	</div>

	<a th:if="${userRole == 'ROLE_ADMIN'}" th:href="|${sport.id}/newCompetition|">
		<button th:text="#{sportDetails.createCompetitionButton}"></button>
	</a>

	<p th:if="${purchasedTicketsCount}" th:text="|${purchasedTicketsCount} #{sportDetails.purchasedTicketsLabels}|"></p>
	
</body>
</html>