<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{tickets.title}"></title>
<script>
	function goBack() {
		window.history.back();
	}
</script>
</head>
<body>

	<div class="back-button">
		<button th:text="#{back.button}" onclick="goBack()"></button>
    </div>

	<form th:action="@{/logout}" method="post">
		<button th:text="#{logout.button}" type="submit"></button>
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</form>

	<h1 th:text="#{tickets.mainTitle}"></h1>
	
	<ul th:if="${tickets != null && tickets.empty == false}">
		<li th:each="ticket : ${tickets}" th:with="df=#{date.format.pattern}" th:text="|${ticket.competition.sport.name}, ${#dates.format(ticket.competition.startDateTime, df)} -> ${ticket.competition.stage.name}|"></li>
	</ul>
	
	<p th:unless="${tickets != null && tickets.empty == false}" th:text="#{tickets.noTickets}"></p>
	
</body>
</html>